body {
  background-image: url('/plaid.jpg');
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.front-page {
  text-align: center;
  font-size: 5vh;
}

.front-page ul {
  list-style-type: none;
}

.front-page a {
  text-decoration: none;
  color: #8EAEF5;
}

.front-page a:hover {
    -moz-transition: all .3s ease-in;
     -o-transition: all .3s ease-in;
     -webkit-transition: all .3s ease-in;
     -ms-transition: all .3s ease-in;
     transition: all .3s ease-in;

    color:#268bd2;
}

#welcome-header {
  text-align: center;
  font-size: 6vh;
  color:#4D4D4D;
}

.fadebutton {
  text-align:center;
  font-weight:600;
  width:25%;
  padding:3%;
  margin:auto;
  margin-bottom:3%;
  background:#e5e5e5;
  line-height:45px;
  transition: opacity 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s ;
  transition: all ease 0.5s ;
  border:1px solid #247BA0;
  border-radius:5px;
}

.fadebutton:hover {
  background:#CEEBFB;
  color:#CEEBFB;
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
  -o-transition: all ease 0.7s;
  -ms-transition: all ease 0.7s ;
  transition: all ease 0.5s ;
}

#footer a {
  color:black;
}

#footer a:hover {
  -moz-transition: all .3s ease-in;
   -o-transition: all .3s ease-in;
   -webkit-transition: all .3s ease-in;
   -ms-transition: all .3s ease-in;
   transition: all .3s ease-in;

  color:#268bd2;
}

.index {
  text-align: center;
  font-size: 5vh;
}

.index ul {
  list-style-type: none;
}

.index a {
  text-decoration: none;
  color:#4D4D4D;
}

.index a:hover {
    -moz-transition: all .3s ease-in;
     -o-transition: all .3s ease-in;
     -webkit-transition: all .3s ease-in;
     -ms-transition: all .3s ease-in;
     transition: all .3s ease-in;

    color:#268bd2;
}

.all-tasks {
  text-align: center;
  font-size: 4vh;
  color:#4D4D4D;
}

.index-items {
  border: 1px solid #8EAEF5;
  border-radius: 15%;
  border-width: medium;
  padding:5px;
}
