<span id="welcome-header">
  <h1>&nbsp Task Manager</h1>
</span>
<div id="wrapper">
<div class="front-page">
  <ul>
    <div class="fadebutton">
      <li><a href="/tasks">Task Index</a></li>
    </div>

    <div class="fadebutton">
      <li><a href="/tasks/new">New Task</a></li>
    </div>
  </ul>
  <div id="footer"></div>
</div>
</div>
