<div class="index">
  <span class="all-tasks">
    <h1>All Tasks</h1>
  </span>


  <% @tasks.each do |task| %>
      <h3>
        <span class=index-items>
          <a href="/tasks/<%= task.id %>">
            <%= task.title %>
          </a>
          <a href="/tasks/<%= task.id %>/edit"><img class="edit" src='/edit26.png'></a>
        </span>
      </h3>
  <% end %>

</div>

<div class="front-page">
  <div id="footer">
    Check it out on <a href="https://github.com/kravinskylev/task_manager">GitHub</a>
  </div>
</div>
