<div class="front-page">

  <form class="pure-form" action="/tasks" method="post">
    <p>Enter a new task:</p>
    <input type='text' class="pure-input-rounded" name='task[title]'/>

    <br>
    <br>

    <textarea name='task[description]'></textarea><br/>

    <br>

    <button type="submit" class="pure-button">Submit</button>
  </form>

  <div id="footer">
    Check it out on <a href="https://github.com/kravinskylev/task_manager">GitHub</a>
  </div>
</div>
